/* .cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 232);
    padding: 10px 20px;
    margin-top: 70px;
}

.cart-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 5em;
}

.btn-delete{
    height: fit-content;
}

.product-info{
    display: flex;
    gap: 1.4em;
}

.product-info .product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-quantity{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.5em;
}

.btn-reduce{
    border-radius: 20%;
    cursor: pointer;
}

.btn-increase{
    border-radius: 20%;
    cursor: pointer;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 3em;
    padding-right: 170px;
    padding-top: 20px;
}

.back-checkout-btn{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 3em;
    margin-bottom: 3em;
}

.btn-back{
    border: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
}

.checkout{
    border: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
}







 */
 .cart button:hover{
    background-color: bisque;
 }
 .continueBtnTop{
    border:none;
    background-color: white;
    margin-right: 80%;
    margin-top: 2rem;
    margin-bottom: 4rem
 }
 .continueBtnTop:hover{
   background-color: white;
   text-decoration: underline;

 }



 .cart{
    display:flex;
    justify-content: space-between;
 }

 .cart img{
width: 3rem;
height:3rem
 }

 .cartQuantityButtons{
    display:flex;
    justify-content: space-between;
 }
 .cartQuantityButtons p{
    padding-left: 2rem;
    padding-right: 2rem;
 }

 .adjustmentBtn {
    width:2rem;
    height: 2rem
 }
 .deleteBtn {
    height: 2rem;
    margin-left: 2rem
 }

 .total-price{
    display: flex;
    justify-content: flex-end;
   gap:1rem
 }

 .bottomButtons{
    display:flex;
    justify-content: right;
    margin-top: 2rem;
    margin-bottom: 5rem;
 }


 .proceedBtn{
    border:none;
    background-color: white;
    
 }
 .proceedBtn:hover{
    background-color: white;
    text-decoration: underline;
    
 }

 .startShoppingBtn{

    border:none;
    background-color: white;
    margin-right: 80%;
    margin-bottom: 5rem;
 }
 .startShoppingBtn:hover{
    background-color: white;
      text-decoration: underline;
     
   }

   .count{
      font-size: 0.8rem;
      color:white;
      /* background-image: url("https://i.ibb.co/5c8bwX0/circle-fill-svgrepo-com.png"); */
      /* background-image: no-repeat center/80% url("https://upload.wikimedia.org/wikipedia/commons/c/c0/Location_dot_black.svg"); */
      background: no-repeat center url("https://raw.githubusercontent.com/obisaga/ecommerceImages/main/circle-fill-svgrepo-com.png");
     padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    
      background-size: 50%, 50%, 20%;;
   
   }
   /* .pi pi-circle-fill{
     color:aqua !important;
   } */

