.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 232);
    padding: 10px 20px;
    margin-top: 70px;
}

.cart-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 5em;
}

.btn-delete{
    height: fit-content;
}

.product-info{
    display: flex;
    gap: 1.4em;
}

.product-info .product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-quantity{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.5em;
}

.btn-reduce{
    border-radius: 20%;
    cursor: pointer;
}

.btn-increase{
    border-radius: 20%;
    cursor: pointer;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 3em;
    padding-right: 170px;
    padding-top: 20px;
}

.back-checkout-btn{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 3em;
    margin-bottom: 3em;
}

.btn-back{
    border: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
}

.checkout{
    border: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
}








