#root{
  padding: 0%;
}

/* div .topNav {
    display: flex;
    align-items: center;
} */

.topnav-elements{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.topnav-elements .social-media-icons i{
  padding: 1em;
  padding-top: 1.4em;
  font-size: 1.2em;
  color: black;
}

.logo{
  height: 0.2em;
  font-size: 2em;
  padding-top: 0.5em;
  color: black,
}

.topnav-elements  .user-cart-icons i{
padding: 1em;
padding-top: 1.4em;
font-size: 1.2em;
color: black;
}

.bottomNav {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.links a {
    padding-left: 2rem;
    color: black;
    font-size: small;
    text-decoration: none;
}

.dropbtn {
    background-color: none;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: none;
  }

 
  header{
    background-size: cover;
  }