@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;1,400;1,500&display=swap');


* {
  margin: 0;
  padding: 0;
}

.topnav-elements {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-bottom: 1em;
  width: 100%;
}


div .topNav {
    display: flex;
    align-items: center;
} 

.topnav-elements{
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-bottom: 1em;
}

.topnav-elements .social-media-icons i{

  padding: 1em;
  padding-top: 5.6em;
  font-size: 1.2em;
  color: black;
}

.logo{
  font-family: 'Playfair Display';
font-weight: 400;
font-style: italic;
  height: 0.2em;
  font-size: 5em;
  padding-top: 0.5em;
  color: black;
  
}


.topnav-elements  .user-cart-icons i{
padding: 1em;
font-size: 1.2em;
color: black;
}

.user-cart-icons{
  display: flex;
  padding-top: 4em;

  }

  .userIn{
    display:flex;
    font-family: 'Montserrat';
    font-weight: 600;
        padding-top:1.2rem;  
  }

 .userOut p{
  padding-top:1.2rem;  
}

  .userOut{
    display:flex;
    font-family: 'Montserrat';
    font-weight: 600;
        padding-top:1.2rem;  
  }

  .userIn p{
    padding-top:1.2rem;  
}

.pi-shopping-cart{
  margin-right:-1em;
}
.cartCount{
  margin-top:-1em;
}

.bottomNav {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    padding-bottom: 2em;
}
.links{
  margin-right:4rem;
}


.links a { 
  margin: 0;
    padding: 1.5rem;
    color: black;
    font-size: small;
    text-decoration: none;
}

.dropbtn {
    background-color: none;
    color: black;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-family: 'Montserrat';
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
  .dropdown:hover .dropbtn {
    background-color: none;
    border-radius:none;
  }

  .dropdown-content button{
    color:black;
    font-size: 90%;
    font-family: 'Montserrat';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none !important;
    border: none;
    outline: none;
   
  }

  
  .dropdown-content button:hover{
    font-family: 'Montserrat';
    font-size: 90%;
    font-weight: 600;
    color:brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    outline: none;
  }

 
  

  
