.parent{
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* background-color:#; */
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3em;

}

.parent p{
  font-family: 'Montserrat';
    padding-top: 2.5rem;
    text-align: center;
    font-size: 18px;
 
}
  
  .slider {
    margin:20px 20px;
    overflow: hidden;
    padding-right:30rem 
  }


  .slider img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius:10px;
  }
  
  .react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  }
  
  .custom-dot-list-style button{
  border: none;
  background: black
  }
  .react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: white !important;
  }