.collections{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collections .collections-header{
    border: solid thin  black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collections button{
    border: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
  }


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
  }


.pi-angle-left{
    cursor: pointer;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    background-color: #aca8a8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

.pi-angle-right{
    cursor: pointer;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    background-color: #aca8a8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}



