.collections{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collections .collections-header{
    border: solid thin  black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collections button{
    border: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
  }

  .carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-items {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    flex-shrink: 0;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    .carousel-item {
      width: 50%;
    }
  }
  
  @media (min-width: 1024px) {
    .carousel-item {
      width: 33.333%;
    }
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .carousel-control.prev {
    left: 1rem;
  }
  
  .carousel-control.next {
    right: 1rem;
  }


/* .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
  } */


.pi-angle-left{
    cursor: pointer;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    background-color: #aca8a8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

.pi-angle-right{
    cursor: pointer;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    background-color: #aca8a8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}



